//colors
$black: #000000;
$white: #FFFFFF;
$gray: #828282;

$light-green: #C4C601;
$green: #A9AA00;
$dark-green: #949204;

$light-red: #FFA7A7;
$red: #FD1C1C;

$desktop-width: 1080px;
$header-height: 70px;

//measures
$desktopWidth: 1000px;

//media queries
$iPhone11-width: 414px;