*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx


#webapp
/webapp/node_modules
/webapp/.pnp
/webapp.pnp.js

# testing
/webapp/coverage

# production
/webapp/build

# misc
/webapp/.DS_Store
/webapp/.env.local
/webapp/.env.development.local
/webapp/.env.test.local
/webapp/.env.production.local

/webapp/npm-debug.log*
/webapp/yarn-debug.log*
/webapp/yarn-error.log*